
<h1>Timetable - Settings</h1>

<table>
  <thead>
    <tr>
      <th>Year start</th>
      <th>Year end</th>
      <th>Name</th>
      <th>School</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @timetables.each do |timetable| %>
      <tr>
        <td><%= timetable.year_start %></td>
        <td><%= timetable.year_end %></td>
        <td><%= timetable.name %></td>
        <td><%= timetable.school %></td>
        <td><%= link_to 'view', timetable %></td>
        <% if @timetables.count > 1 then %>
        <td><%= link_to 'Delete', timetable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Timetable', new_timetable_path %>
